.contanier {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 237.6px));
    justify-content: center;
}

.btn {
    background-color: rgb(138, 231, 227);
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.btn:hover {
    background-color: rgb(23, 132, 146);
    color: white;
    transition: all 0.4s ease;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
}

.img-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    width: 74%;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}

.img-container img {
    display: block;
    width: 100%;
    background-size: cover;
}

.img-container img:hover {
    transform: scale(0.9);
    transition: all 0.5s ease;
    border-radius: 5px;
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 45px;
    color: white;
    cursor: pointer;
}